.title{
    font-size: large;

}
.Container{
    padding: 5rem;
}

.inpuTodo{
    width: 70%; 
    height: 1.5rem;
}

.buttonAdd{
    background-color: blue;
    width: 3rem; 
    border-radius: 0.7rem; 

}